<section>
	<h1>Game Setup</h1>
	<label>What is your name?<input #inputName (keyup)="0" type="text" ></label>
</section>
<section>
	<h1>Solve the Puzzle</h1>
	<p>Welcome {{inputName.value}}!</p>
	<label>Switch 1: <input type="text" name="" value=""></label>
	<label>Switch 2: <input type="text" name="" value=""></label>
	<label>Switch 3: <input type="text" name="" value=""></label>
	<label>Switch 4: <input type="text" name="" value=""></label>
</section>
<p>Congratulations {{inputName.value}}, you did it!</p>