section {
	background-color: rgba(238, 238, 238, 1);
	margin: 16px 32px;
	padding: 16px;

	text-align: center;
	border-radius: 12px;

	h1 {
		margin: 16px;
		font-size: 60px;

		span {
			display: block;
			font-style: italic;
			font-size: 32px;
			color: rgba(188, 19, 57, 1);
		}
	}

	label {
		display: block;
		font-size: 27px;

		padding: 16px 16px;
	}

	input {
		margin-left: 16px;
		height: 32px;
		width: 340px;

		font-size: 27px;
		vertical-align: middle;
	}

	.instruction {
		font-size: 18px;
		font-style: italic;
		padding-bottom: 12px;
		border-bottom: 1px solid #000;
	}

}

p {
	text-align: center;
	font-size: 26px;
	margin: 16px;
}

.puzzle.solved {
	background-color: rgb(145, 227, 116);
}
